@using MetaFrm.Control
@using MetaFrm.Database
@using MetaFrm.Management.Razor.Models
@using MetaFrm.Razor.Essentials
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Components.Web
@inherits BaseComponent

<TitleControl Title="@this.GetAttribute("Description")"></TitleControl>

<DataGridControl TItem="AssemblyModel" @ref="this.DataGridControl" DataItems="this.A001ViewModel.SelectResultModel" PagingEnabled="true"
                 TableClass="table-hover"
                 RowAdd="this.New"
                 MovePage="this.Search"
                 RowModify="this.RowModify"
                 Columns="@(new ColumnDefinitions[] {
                    new(DbType.Int, SortDirection.Normal, Alignment.Right, nameof(AssemblyModel.ASSEMBLY_ID), "Assembly ID"         , "d-none d-lg-table-cell"),
                    new(DbType.NVarChar, SortDirection.Ascending, Alignment.NotSet, nameof(AssemblyModel.NAMESPACE), "Namespace"),
                    new(DbType.DateTime, SortDirection.Normal, Alignment.Center, nameof(AssemblyModel.FILE_DATE), "File Date"       , "d-none d-md-table-cell", "", "", "yyyy-MM-dd HH:mm"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.Center, nameof(AssemblyModel.VERSION), "Version"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.Center, nameof(AssemblyModel.PLATFORM_DESC), "Platform"    , "d-none d-lg-table-cell"),
                    new(DbType.NVarChar, SortDirection.Normal, Alignment.NotSet, nameof(AssemblyModel.NICKNAME), "Owner"            , "d-none d-sm-table-cell")})">
    <SearchInputControl>
        <input type="text" class="form-control rounded-start" placeholder="Search" @bind-value="@this.A001ViewModel.SearchModel.SEARCH_TEXT" @onkeyup="@SearchKeydown" />
    </SearchInputControl>
    <SearchButtonControl>
        <button class="btn btn-outline-primary btn-rounded-end" type="button" @onclick="(() => this.OnSearch())">
            <span class="oi oi-magnifying-glass" />
        </button>
    </SearchButtonControl>
</DataGridControl>

<ModalControl TItem="AssemblyModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.ASSEMBLY_ID))">
    <Control>
        <EditForm class="container" Model="@this.SelectItem" OnValidSubmit="this.Save">
            <DataAnnotationsValidator />

            <FieldControl Label="Assembly ID" Value="this.SelectItem.ASSEMBLY_ID" CssClassDiv="pt-2 pb-1"></FieldControl>
            <FieldControl Label="Namespace">
                <Control>
                    <InputText id="namespace" class="form-control" placeholder="Namespace" @bind-Value="this.SelectItem.NAMESPACE" />
                    <ValidationMessage For="@(()=>this.SelectItem.NAMESPACE)" />
                </Control>
            </FieldControl>
            <FieldControl Label="DLL">
                <Control>
                    <InputFile id="dll" class="form-control" placeholder="Namespace" accept=".dll" OnChange="@this.InputFileChangeEventArgs" />
                </Control>
            </FieldControl>

            <div class="row">
                <FieldControl Label="FileDate" CssClassDiv="py-2 col-md-6" Value="@($"{this.SelectItem.FILE_DATE:yyyy-MM-dd HH:mm}")"></FieldControl>
                <FieldControl Label="Version" CssClassDiv="py-2 col-md-6" Value="this.SelectItem.VERSION"></FieldControl>
            </div>
            <div class="row">
                <FieldControl Label="Platform" CssClassDiv="py-2 col-md-6" Value="this.SelectItem.PLATFORM_DESC"></FieldControl>
                <FieldControl Label="Owner" CssClassDiv="py-2 col-md-6" Value="this.SelectItem.NICKNAME"></FieldControl>
            </div>

            <DataGridControl TItem="AttributeModel" @ref="this.DataGridControlAttribute" DataItems="this.SelectItem.Attributes" PagingSize="5"
                             RowAdd="this.AddAttribute"
                             RowDelete="this.DeleteAttribute"
                             DataBsToggle=""
                             DataBsTarget=""
                             Columns="@(new ColumnDefinitions[] {
                                new(DbType.NVarChar, nameof(AttributeModel.ATTRIBUTE_NAME), "Attr Name", true),
                                new(DbType.NVarChar, nameof(AttributeModel.ATTRIBUTE_VALUE),"Attr Value", true)})">
            </DataGridControl>

            <CommandControl TItem="AssemblyModel" SelectItem="this.SelectItem" SelectItemKeyProperty="@(nameof(this.SelectItem.ASSEMBLY_ID))" SaveIsSubmit="true" New="this.New" Copy="this.Copy" Delete="this.Delete" />
        </EditForm>
    </Control>
</ModalControl>